<div class="container">
	<form [formGroup]="formInput" (ngSubmit)="onSubmit()">
		<label for="">Email</label><br>
		<input type="text" name="email" formControlName="email"> 
		<br>

		<label for="">Password</label><br>
		<input type="password" name="password" formControlName="password"> 
		<br>

		<input type="submit" value="Login">
	</form>
</div>
