<div class="container">
	<div class="row">
		<div class="col">

			<table *ngIf="users?.length > 0" class="table">
				<thead>
					<tr>
						<th scope="col">Avatar</th>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
					</tr>
				</thead>
	
				<tbody>
					<tr *ngFor="let item of users">
						<td>
							<img [src]="item.avatar" width="50px" alt="">
						</td>
						<td>
							{{ item.name }}
						</td>
						<td>
							{{ item.email }}
						</td>
					</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-center align-items-center" *ngIf="!users || users?.length < 1">
				<p>Loading Data ...</p>
			</div>
		</div>
		<div class="col">

			<button (click)="logOut()">Logout</button>

			<form [formGroup]="form" (ngSubmit)="onSubmit()">
				<label for="name">Name</label>
				<input type="text" name="name" formControlName="name">
				<br>

				<label for="name">Email</label>
				<input type="text" name="name" formControlName="email">
				<br>

				<label for="name">Password</label>
				<input type="password" name="name" formControlName="password">
				<br>

				<input *ngIf="!loadingOnSubmit" type="submit" value="Submit">
				<div *ngIf="loadingOnSubmit">
					Sedang Mengirim Data...
				</div>
			</form>

		</div>
	</div>
</div>
